<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Adspray_Adabra::adabra_feed" title="Adabra Feed" sortOrder="100">
                                <resource id="Adspray_Adabra::adabra_feed_save" title="Adabra Feed Save" sortOrder="10"/>
                                <resource id="Adspray_Adabra::adabra_feed_list" title="Adabra Feed List" sortOrder="20"/>
                            </resource>
                            <resource id="Adspray_Adabra::config" title="Adabra Config" sortOrder="101"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
